@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id ="productGrid"></div>
    


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    @Scripts.Render("~/Areas/Warehouse/Scripts/productlist.js")

    <script type="text/javascript">
        $(document).ready(function () {
            alert("!");
            initProductGrid();
        });

        function initProductGrid() {
            $("#productGrid").kendoGrid({
                dataSource: {
                    type: "odata",
                    serverPaging: true,
                    serverSorting: true,
                    pageSize: 100,
                    transport: {
                        read: "http://localhost:52279/api/warehouse/product"
                    }
                },
                height: 430,
                scrollable: {
                    virtual: true
                },
                sortable: true,
                columns: [
                    { field: "CategoryName", title: "Order ID", width: 110 },
                    { field: "ProductName", title: "Customer ID", width: 280 },
                    { field: "UnitPrice", title: "Ship Name", width: 90 },
                    { field: "Discontinued", title: "Ship Address", width: 60 }
                ]
            });
        }
    </script>
}
